:root{
    --primary: rgb(217, 119, 52);
    --primary-dark: rgb(108, 68, 28);
    --primary-text-header: rgb(217, 119, 52);
    --secondary: rgb(107 114 128);
    --secondary-dark: rgb(75 85 99);
    --success: rgb(34 197 94);
    --success-dark: rgb(22 163 74);
    --warning: rgb(234 179 8);
    --warning-dark: rgb(202 138 4);
    --danger: rgb(239 68 68);
    --danger-dark: rgb(220 38 38);
    --info: rgb(103 232 249);
    --info-dark: rgb(34 211 238);
    --white: rgb(255 255 255);
    --white-dark: rgb(100 116 139);
    --black: rgb(60, 59, 59);
    --black-dark: rgb(4, 4, 4);
    --black-bg-button-hover: rgb(4, 4, 4);
    --white-text-header: rgb(255 255 255);
}

nav {
    font-family: Montserrat, sans-serif;
    font-size: large!important;
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

p, button, span, label, textarea, input, select, option {
    font-family: Oswald, sans-serif;
}


.no-padding {
    padding: 0!important;
}

.about-bg-image {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(https://images.unsplash.com/photo-1526478806334-5fd488fcaabc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1816&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0!important;
    background-attachment: fixed;

}

@media (max-width: 640px) {
    .hide-mobile {
        display: none!important;
    }

    .text-6xl {
        font-size: 3rem!important;
    }

    .text-5xl {
        font-size: 2.5rem!important;
    }

    .text-4xl {
        font-size: 2rem!important;
    }

    .text-3xl {
        font-size: 1.75rem!important;
    }
}