:root{
    --primary: rgb(217, 119, 52);
    --primary-dark: rgb(108, 68, 28);
    --primary-text-header: rgb(217, 119, 52);
    --secondary: rgb(107 114 128);
    --secondary-dark: rgb(75 85 99);
    --success: rgb(34 197 94);
    --success-dark: rgb(22 163 74);
    --warning: rgb(234 179 8);
    --warning-dark: rgb(202 138 4);
    --danger: rgb(239 68 68);
    --danger-dark: rgb(220 38 38);
    --info: rgb(103 232 249);
    --info-dark: rgb(34 211 238);
    --white: rgb(255 255 255);
    --white-dark: rgb(100 116 139);
    --black: rgb(60, 59, 59);
    --black-dark: rgb(4, 4, 4);
    --black-bg-button-hover: rgb(4, 4, 4);
    --white-text-header: rgb(255 255 255);
}

nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p, button, span, label, textarea, input, select, option {
    font-family: Oswald, sans-serif;
}

.no-padding {
    padding: 0!important;
}

.trustedByItem {
    transition: all ease 0.2s !important;
  }
.trustedByItem:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

.about-bg-image {
    background-image: url(https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0!important;
}